* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.button {}

.modal {}

.form {}

.cross {}

.avatar-container {}

.avatar {}

.data {}

.input {}

.login {}

.check {}

.other-options {}

.cancel {}

.forgot {}